.clientes{
    @include flex(column, center, center);
    background-color: white;
    // height: 16rem;
    overflow-x: hidden;

    .container{
        @include flex(column,space-between,center);
        gap: 3.2rem;

        padding-top: 2.6rem;
        padding-bottom: 2.6rem;

        .infos-empresa{
            @include flex(row, center, space-between);

            .info{
                margin-top: 2.2rem;
                @include flex(column,center,center);
            }
        }

        .carrossell{
            @include flex(row,center, center);
            gap: 3.2rem;
            animation: slide 25s linear infinite;
            
            img{
                filter: grayscale(100%);
                object-fit: contain;
                width: 100%;
                max-width: 15rem;
                height: 5.7rem;
            }
        }
    }
}

@include responsive(680px){
    .clientes .container .infos-empresa{
        display: none;
    }
}





