.btn-header-outline{
    @include flex(row, center, center);
    padding: 1.4rem 4.7rem;
    border: none;
    border-radius: 5rem;
    background-color: transparent;
    cursor: pointer;
    gap: 1.6rem;
    font: $btn-font-b;
}

.btn-header-primary{
    @include flex(row, center, center);
    padding: 1.4rem 4.7rem;
    border: none;
    border-radius: 5rem;
    background-color: $brand-primary-green;
    cursor: pointer;
    gap: 1.6rem;
    font: $btn-font-b;

}

.btn-primary{
    color: $brand-primary-dark;
    font: $btn-font-b;
    padding: 1.4rem 4.7rem;
    border: none;
    border-radius: 50px;
    background-color: $brand-primary-green;
    cursor: pointer;
}