.s-faq{

    .container{
        @include flex(column,center,center);
        margin-top: 10rem;
        margin-bottom: 10rem;
        gap: 6.4rem;

        .collapsible{
            @include flex(column, center, flex-start);
            gap: 3.2rem;
            width: 100%;
            max-width: 86.8rem;
            height: 48.4rem;  
                    

        }
    }



}