h1{
    font: $h1;
    letter-spacing: -1px;
    color: $brand-primary-dark;
}

h2{
    font: $h2;
    letter-spacing: -1px;
    color: $brand-primary-dark;
}

h3{
    font: $h3;
    letter-spacing: -1px;
    color: $brand-primary-dark;
}

h6{
    font: $btn-font-b;
    color: white;
}



p{
    font: $text-p18;
    color: $gray-paragraf;
}

@include responsive(960px){

    h1{
        font: $h1-mobile;
    }

    p{
        font: $text-p14;
    }

    h2{
        font: $h2-mobile;
    }

    h6{
        font: $btn-font-b;
    }
}