// CORES //

$brand-primary-green: #E0E721;
$brand-primary-dark: #1E252E;
$brand-primary-light: #D0E1D7;


$bg-white-theme: #F4F4F4;


$gray-paragraf: #747474;




$font-family: 'Satoshi', sans-serif;

//DESKTOP FONTS


$h1: 700 7.2rem/110% #{$font-family};
$text-p: 400 1.6rem/120% #{$font-family};
$text-p14: 400 1.4rem/120% #{$font-family};
$text-p18: 400 1.8rem/140% #{$font-family};
$btn-font-b: 600 1.4rem/120% #{$font-family};
$card-flutuante-strong: 600 2.4rem/120% #{$font-family};


//MOBILE FONTS
$h1-mobile: 700 4.2rem/110% #{$font-family};
$text-p-mobile: 400 1.6rem/120% #{$font-family};